body, input, button {
	font: 11px Verdana;
}
body {
	margin: 0;
	background: #ddd;
	display: flex;
	flex-direction: column;
	height: 100vh;
}
textarea {
	margin: 0px;
	padding: 0;
	border: 1px solid #DDD;
	resize: none;
	font: 11px Consolas, monospace;
	tab-size: 4;
	-moz-tab-size: 4;
	white-space: pre-wrap;
}
h1, h2, h3 {
	margin: 0;
}
.header {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	background: #fff;
	flex-shrink: 0;
}
ul {
	margin: 0 0 5px;
	padding: 0;
	list-style: none;
}
label > input {
	vertical-align: middle;
}

/* COMMON */
.panel {
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	background: #fff;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}
.flex {
	display: flex;
}
.flex > * {
	flex: 1;
}
.vstack > * {
	margin-bottom: 10px;
}
.vstack-s > * {
	margin-bottom: 5px;
}
.vstack > *:last-child,
.vstack-s > *:last-child {
	margin-bottom: 0;
}

/* PLAYGROUND */
.playground {
	flex: 1 0 100px;
	max-height: 300px;
}
#format {
	margin: 0 5px;
	padding: 0;
	border: 0;
	flex: 0 0 30px;
	font-size: 25px;
	background: #ddd;
}
#format:active {
	background: #ccc;
}

/* SETTINGS */
.settings > label {
	display: inline-block;
	width: 100px;
}

/* OPTIONS */
.options-group-container .options-group-container {
	padding-left: 20px;
}
.options-group {
	line-height: 18px;
}
.options-group-title {
	cursor: pointer;
}
.options-group-title > b {
	display: inline-block;
	width: 13px;
}
.options-option {
	width: 30px;
	margin: 1px;
	padding: 1px;
	border: 0;
	border-bottom: 1px solid #ddd;
}

.settings {
	flex-shrink: 0;
}

.options {
	flex: 1 0 100px;
}